<link rel="stylesheet" href="/css/about.css">
<!-- Contenido About -->
    <main class="main-content">
        <section class="about-section">
            <h1>Acerca de Nosotros</h1>
            <p>Somos un equipo de analistas de superheros, donde llevamos el historial de superheroes</p>
        </section>
    </main>