<nav>
    <div class="navbar">
        <a href="/" class="logo-link">
            <img src="/icons/logo.svg" alt="Logo" class="logo">
        </a>
        <ul>
            <li>
                <a href="/api">
                    <img src="/icons/home.svg" alt="Inicio icon">
                    <span>Inicio</span>
                </a>
            </li>
            <li>
                <a href="/api/dashboard">
                    <img src="/icons/users.svg" alt="Inicio icon">
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/api/pais/nuevo">
                    <img src="/icons/user-plus.svg" alt="Agregar icon">
                    <span>Agregar Pais</span>
                </a>
            </li>
            <!-- <li>
                <a href="/api/about">
                    <img src="/icons/info.svg" alt="About icon">
                    <span>Acerca de</span>
                </a>
            </li> -->
        </ul>
    </div>
</nav>